:root {
    --green: #06D6A0;
    --pink: #ef476f;
    --yellow: #FFD166;
    --dark-yellow: #be9b49;
    --blue: #26547C;
    --white: #FCFCFC;
    --black: rgb(121, 89, 31);
    --dark-gray: rgb(34, 34, 34);
}

body {
    background: var(--yellow);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.tic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    background-color: var(--white);
    padding: 2rem;
    width: 20%;
    box-shadow: 0 0.2rem 2rem 0.5rem var(--dark-yellow);
    gap: 1rem;
}

.title {
    font-size: 2rem;
    color: var(--blue);
}

.squares {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 10rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: -2.5rem;
    grid-row-gap: 0rem;
}


.square {
    height: 90px;
    width: 90px;
    background-color: var(--white);
    cursor: pointer;
    border: 2px solid var(--dark-gray);
    font-size: 2rem;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}

.square:nth-child(1),
.square:nth-child(4),
.square:nth-child(7) {
    border-left: none;
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
    border-right: none;
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
    border-bottom: none;
}

.restart {
    color: var(--white);
    background-color: var(--blue);
    font-size: 1.1rem;
    padding: 0.9rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.footer {
    font-size: 0.7rem;
    color: var(--black);
    margin-top: -0.5rem;
    padding: 1rem;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform:translateX(-50%);
}
